
a{
 text-decoration: none;
 text-decoration-style: none;
 
 border-top: 2px solid gray;

}

.border{
    border-top:2px solid gray;
    border-left:2px solid gray;
    border-right:2px solid gray;
    border-bottom: 2px solid gray;

}